body{
    margin:0;
    background-color: black;

}
.div1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    animation-name:animate;
    
    
    animation-duration: 4s;
    animation-delay: 3s;
    background: blue;
    animation-iteration-count: infinite;
}
@keyframes animate{
    0%{
        background-color: yellowgreen;
        top:0;
        left: 0;
    }
    25%{
        background-color: brown;
        top:0;
        left:400px;

    }
    50%{
        background-color: white;
        top:400px;
        left:400px;
    }
    75%{
        background:orange;
        top:400px;
        left:0px;

    }
    100%{
        background-color: blueviolet;
        top:0px;
        left:0px;
    }
}
